.professional-details-heading{
    text-align: left;
    font-size: 20px;
    margin-top: 80px;
}
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .professionaltableth, td {
    text-align: left;
    padding: 8px;
  }
  
  .professionaltableth {
    background-color: rgb(25,135,84);
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* button {
    margin: 8px;
    padding: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
  } */
  
  /* button:hover {
    background-color: #3e8e41;
  } */
 /* search box */
 .search-container {
  text-align: center;
}


  .editbutton{
    float: right;
    display: flex;
    justify-content: space-between;

  }

  .addnewbutton{
    float: right;
    display: flex;
    justify-content: space-between;
  }

  .professionalpopup{
    position: absolute !important;
    z-index: 1001;
    top: 0;
  }
  .popup::-webkit-scrollbar{
    display: none;
  }
  

  .editRadioButtonProfessional{
    transform:scale(0.9);
  }

  .professionaltable-container{
    overflow: auto;
    max-height: 600px; /* Set a max height to enable scrolling */
  }

  .professionaltable-container thead {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
  }
  
