/* .progress-steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .progress-step {
    display: flex;
    align-items: center;
  }
  
  .progress-step.completed .step-number {
    background-color: green;
    color: white;
  }
  
  .progress-step.incomplete .step-number {
    background-color: lightgray;
    color: black;
  }
  
  .step-number {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: lightgray;
    color: black;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    margin-right: 8px;
  }
  
  .checkmark {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: green;
    color: white;
    text-align: center;
    line-height: 24px;
    font-weight: bold;
    margin-right: 8px;
  } */
  
.multitabs{
 position: relative;
 justify-content: space-between;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
}

/* .container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 500px;
  height: 300px;
  background: #f1f1f1;
  margin: 100px auto 0;
  word-break: break-all;
  border: 1px solid rgba(0, 0, 0, 0.274);
} */

.bloc-tabs {
  display: flex;
}
.tabs {

  padding: 15px;
  text-align: center;
  width: 50%;
  background: rgba(128, 128, 128, 0.075);
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  box-sizing: content-box;
  position: relative;
  outline: none;
}
.tabs:not(:last-child){
  border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tabs  {
  background: white;
  border-bottom: 1px solid transparent;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 5px;
  background: rgb(88, 147, 241);
}


/* 
button {
  border: none;
  
} */
.content-tabs {
  flex-grow : 1;
}
.content {
  background: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  display: none;
}
.content h2 {
  padding: 0px 0 5px 0px;
}
.content hr {
  width: 100px;
  height: 2px;
  background: #222;
  margin-bottom: 5px;
}
.content p {
  width: 100%;
  height: 100%;
}
.active-content {
  display: block;
}


.MuiStepLabel-labelContainer {
  flex-direction: column;
  align-items: center;
}

.MuiStepLabel-labelContainer .MuiStepLabel-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.MuiStepLabel-labelContainer .MuiStepLabel-label .MuiStepIcon-root {
  order: 2;
  margin-bottom: 6px;
}

.multitabs {
  margin-top: 40px;
}

 .popup-container {
 margin-left: 0px;
}

.popup-content{
  background-color:transparent;
  z-index: 1;
}



/*.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
} */

.close-button {
  /* Your existing styles for the close button */
  position: fixed;
  top: 10px; /* Adjust the top position as needed */
  left: 10px; /* Adjust the right position as needed */
}

.pdfContainer{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow: auto;
    box-sizing: border-box;
}